<div class="col">
    <h3>Comentarios: {{post.comments.all|length}}</h3>
    {% for comment in post.comments.all %}
    <!-- <img src="{{user.imagen.url}}" style="height: 2rem; border-radius: 10%;"></img>}} -->
    <div class="border-bottom ">
        <p class="lead">{{ comment.text }}</p>
        <b>{{ comment.author }}</b> - <span class="text-muted">{{ comment.created_at }}</span>
        {% if comment.author == user or user.is_staff %}
        |
        {% if comment.author == user %}
        <a class="btn" href="{% url 'posts:edit_comment' comment_id=comment.id %}">
            <i class="bi bi-pencil-square"></i>
        </a>
        {% endif %}
        <a class="btn text-danger" href="{% url 'posts:delete_comment' comment_id=comment.id %}">
            <i class="bi bi-trash3"></i>
        </a>
        {% endif %}
    </div>
    <hr>
    {% empty %}
    <p>No hay comentarios.</p>
    {% endfor %}
</div>