{% extends 'base.html' %}
{% load static %}
{% block title %}
{{post.titulo}}
{% endblock title %}
{% load crispy_forms_tags %}
{% load colaborador_tags %}

{% block contenido %}
<div class="container-fluid py-5">
    <div class="container bg-white pt-5 pb-3">
        <div class="text-center mb-3 pb-3">
            <h1>{{post.titulo}}</h1>
            <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">{{post.subtitulo}}</h6>
        </div>
        <div class="row">
            <img class="img-fluid" src="{{ post.imagen.url }}" alt="">
            {% if user.is_superuser or request.user|has_group:"colaborador" %}
            <div class="container-fluid" style="margin-top: 300px;">
                <a id="boton_post" href="{% url 'apps.posts:post_update' pk=posts.id %}">Modificar Post</a>
            </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col mb-4">

                <div class="mb-2">

                    <div class="p-4">
                        <div class="d-flex justify-content-between mb-3">
                            <small class="m-0"><i
                                    class="fa fa-calendar-alt text-primary mr-2"></i>{{post.fecha}}</small>
                        </div>
                        <a class="h5 text-decoration-none" href="">{{post.texto}}</a>
                        <div class="border-top mt-4 pt-4">
                            <div class="d-flex justify-content-between">
                                <h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i>{{post.categoria}}
                                </h6>
                                <form method="POST">
                                    {% csrf_token %}
                                   
                                </form>
                            </div>
                        </div>
                        <div class="border-top mt-4 pt-4">
                            <div class="d-flex justify-content-between">
                                {% include 'posts/comentarios/listado.html' %}

                                {% include 'posts/comentarios/comentar.html'%}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}