{% extends 'base.html' %}
{% load static %}

{% block contenido %}
    <h2>Mi articulo detallado</h2>
    {% if user.is_authenticated and articulo.author == user or user.is_staff or user.is_superuser %}
        <a href="{% url 'posts:editarPost' pk=posts.pk %}">Editar</a>

        <form method="POST" action="{% url 'posts:posts' pk=posts.pk %}">
            {% csrf_token %}
            <button type="submit" name="delete_posts">BORRAR</button>
        </form>
    {% endif %}
    <img src="{{ posts.imagen.url }}" width="20%">
    <p>TITULO: {{ posts.titulo }}</p>
    <p>FECHA: {{ posts.fecha_publicacion }}</p>
    <p>AUTOR: {{ posts.author }}</p>
    <p>CATEGORIA: {{ posts.categoria_articulo }}</p>
    <p>CUERPO: {{ posts.contenido }}</p>
    <br>

    <h3>Comentarios</h3>
    {% for comment in comments %}
        <!-- <img src="{{user.imagen.url}}" style="height: 2rem; border-radius: 10%;"></img>}} -->
        </p>{{ comment.author }}</p>
        <p>{{ comment.text }}</p>
        <p>{{ comment.created_at }}</p>
        <form method="POST" action="{% url 'posts:delete_comment' comment.id %}">
            {% csrf_token %}
            {% if comment.author == user.username or user.is_staff or user.is_superuser %}
                <button type="submit">Borrar comentario</button>
                <a href="{% url 'posts:edit_comment' comment_id=comment.id %}">Editar comentario</a>
            {% endif %}
        </form>
        <hr>
    {% empty %}
        <p>No hay comentarios.</p>
    {% endfor %}

    {% if user.is_authenticated %}
        <h3>Añadir Comentario</h3>
        <form method="POST" action="{% url 'posts:add_comment' posts.pk %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Enviar</button>
        </form>
    {% else %}
        <p>Debe iniciar sesión para añadir un comentario</p>
        
    {% endif %}

    <br><br>
    <a href="{% url 'posts:posts' %}">VOLVER</a>
{% endblock contenido %}