{% extends 'base.html' %}
{% load static %}

{% block contenido %}
<div class="center">
    <div class="container-fluid" style="margin-top: 370px;">
        <div class="card border-0 m-0 p-0  col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-6">
            <div class="card-header bg-primary text-center p-4">
                <div class="messages">
                    {% for message in messages %}
                    <table{% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}</table>
                    <button class="btn btn-primary py-3" type="submit">volver atras</button>
                        {% endfor%}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}